<header class="jumbotron" [ngStyle]="{'background-image':'url(' + cover + ')'}">
  <div class="header-content">
    <div class="logo" [ngStyle]="{'background-image':'url(' + logo + ')'}"></div>
    <div class="showme">
      <h1>An easy way to manage job applications</h1>
      <div class="margin">
        <button routerLink="/login" type="button" id="show" class="btn-me btn-color btn-xl">Log In</button>
      </div>
    </div>
  </div>
  <!-- <div class="container">
      <div class="row">
          <div class="small-12 columns">
              <a href="http://www.donderlab.pt"><img src="{{logo}}" class="logo" height="92" width="92"></a>
          </div>
      <div class="row row-header">

        <div class="col-xs-12 col-sm-12">
          <img src="{{logoApp}}" class="logo displayed img-responsive" height="200px">
        </div>
        <div class="text-center">
        	<button routerLink="/login" type="button" class="btn btn-default signup">login / Sign up</button>
        </div>
      </div>
    </div>
	</div> -->
</header>