<header class="jumbotron" [ngStyle]="{'background-image':'url(' + cover + ')'}">
  <div class="container">
      <div class="row">
          <div class="small-12 columns">
              <a href="http://www.donderlab.pt"><img src="{{logo}}" class="logo" height="92" width="92"></a>
          </div>
      <div class="row row-header">

        <div class="text-center">
          <h2 class="text-shadow line-height-1-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </h2>
        </div>

        <div class="col-xs-12 col-sm-12">
          <img src="{{logoApp}}" class="logo displayed img-responsive" height="200px">
        </div>
        <div class="text-center">
        	<button routerLink="/login" type="button" class="btn btn-default signup">login / Sign up</button>
        </div>
      </div>
    </div>
	</div>
</header>
<div class="stripe">
  <div class="container text-center">
    <h2>We needed a way to collect opinions.</h2>
    <p>Why isn't there a better way to have get feedback on a beer tasting event, or to let your team vote on which pizzas to order? Well, there is now. <strong>Rating or voting</strong> on something is what this app is all about. </p>
  </div>
</div>
<div class="stripe greyed">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h2>We made an app for it.</h2>
        <p>
            MuchVote, SuchRate by Donderlab is here to fill a gap in every friend's bar table, in every top world conference or in every casual event.
            <br>
            Now you can turn things interactive! You can throw your opinion out there, and keep track of every data you want.
            Choose your target, choose your method, create a session - and start Voting!
        </p>

      </div>
      <div class="col-sm-6 col-sm-offset-1">
          <img src="{{montage}}" class="no-margin">
      </div>
    </div>
  </div>
</div>
<footer class="modal-footer footer-me">
  <div class="content">
    <div class="pull-left">© <span class="year">2016</span> Donderlab, All rights reserved</div>
    <div class="pull-right social">
      <a href="https://www.linkedin.com/company/10408279?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10408279%2Cidx%3A2-2-5%2CtarId%3A1455886442905%2Ctas%3Adonder" target="_blank"><i class="fa fa-linkedin social-pad"></i></a>
      <a href="https://facebook.com/donderlab" target="_blank"><i class="fa fa-facebook social-pad"></i></a>
      <a href="https://twitter.com/donderlab" target="_blank"><i class="fa fa-twitter social-pad"></i></a>
    </div>
  </div>
</footer>